/* shift+option+f= format (beautify) */
body {
  color: #40514e;
  margin: 0px;
  text-align: center;
  font-family: "Merriweather", serif;
}

/* all 4 sides of the body have 0 margins*/
h1 {
  font-size: 5.625rem;
  margin-top: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  color: #483434;
  line-height: 2;
  /*width: 10%
  margin: 0 auto;*/
}

h2 {
  font-family: "PT Serif", serif;
  font-size: 2.5rem;
  color: #483434;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: "PT Serif", serif;
  color: #6b4f4f;
}

p {
  line-height: 2;
}

hr {
  border: dotted #40514e 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a{
  color:#6b4f4f;
  font-family: "Merriweather", serif;
  margin:10px 20px;
  text-decoration: none
}

a:hover{
  color: #ffffff;
}

/* only top margin has 0 px*/
.top-container {
  background-color: #f9f3df;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #f9f3df;
  padding: 50px 0 20px;

}

.pro {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;

}
.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #6b4f4f;
  font-size: 0.75rem;
  padding: 20px 0;
}

.skill-row {
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.computer-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

/*
.code-skill-description {
  clear: left;
} */

.btn {
  background: #483434;
  background-image: -webkit-linear-gradient(top, #483434, #6b4f4f);
  background-image: -moz-linear-gradient(top, #483434, #6b4f4f);
  background-image: -ms-linear-gradient(top, #483434, #6b4f4f);
  background-image: -o-linear-gradient(top, #483434, #6b4f4f);
  background-image: linear-gradient(to bottom, #483434, #6b4f4f);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Merriweather", serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #6b4f4f;
  background-image: -webkit-linear-gradient(top, #6b4f4f, #6b4f4f);
  background-image: -moz-linear-gradient(top, #6b4f4f, #6b4f4f);
  background-image: -ms-linear-gradient(top, #6b4f4f, #6b4f4f);
  background-image: -o-linear-gradient(top, #6b4f4f, #6b4f4f);
  background-image: linear-gradient(to bottom, #6b4f4f, #6b4f4f);
  text-decoration: none;
}